* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    min-height: 10vh;
    background-color: #2A6041;
    color: whitesmoke;
}

main {
    min-height: 85vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #2A6041;
    color: whitesmoke;
    min-height: 5vh;
}

.instrument-container {
    display: flex;
    justify-content:space-between;
}

.instrument-representation {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* .instrument-name {
    color: black;
} */

.neck {
    background-color: burlywood;
    justify-content: center;
    /* border: solid; */
}

.fretboard {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* .string {
    border-bottom: solid black 3px;
    z-index: 1;
} */

.note {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A6041;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: auto;
    position: relative;
    top: 17px;
    color: MidnightBlue;
    /* color: white; */
    
    /* margin-left: auto;
    margin-right: auto; */
}


.noteContainer {
    min-width: 50px;
    /* min-height: 50px; */
    border-right: solid whitesmoke 2px;
    border-bottom: solid black;
    z-index: 0;
}

.open-string {
    position: relative;
    top: 15px;
    border: none;
    font-size: 25px;
    width: 75px;
}

[visibility="false"] {
    visibility: hidden;
}

main, [id$="note0"], [id="string0"], .open-string {
background-color: whitesmoke;
}

/* [id="string0"] {
    background-color: whitesmoke;
} */

/* .fretNumbers {
    background-color: whitesmoke;
    text-align: center;
    border: solid black;
} */

.select-instrument {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.select-instrument button {
    height: 40px;
    width: 120px;
    margin-right: 20px;
}

.select-note {
    text-align: center;
}

.select-note button {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.select-sequence {
    text-align: center;
    margin: 10px 0;
}

.select-sequence button {
    width: 120px;
    height: 25px;
    margin-right: 20px;
}

.sequence-panel {
    text-align: center;
}

.sequence-panel button {
    margin-right: 5px;
}

button {
    /* background-color: darkgray; */
    color: black;
    border: none;
    border-radius: 5px;
}

.sequence-name-buttons {
    padding: 3px;
}

button:hover {
    background-color: #2A6041;
    border: none;
    color: whitesmoke;
}


.ui-and-info {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3px;
    justify-content:space-evenly;
    box-sizing: content-box;
    min-width: 125px;
    height: 125px;
    /* border: solid lightslategrey; */
    background-color: #E9E9ED;
    border-radius: 10px;
}

.sequence {
    margin-top: 40px;
    max-width: 500px;
    /* padding: 10px; */
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    text-align: center;
}


/* .some-selector {
    background-color: ;
} */