* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex; 
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: #2A6041;
    font-size: 2vh;
    color: whitesmoke;
}

/* main {
    min-height: 88vh;
} */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    text-align: center;
    background-color: #2A6041;
    color: whitesmoke;
    font-size: 2vh;
}

.fretboard-app {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-ui {
    display: none;
}

.ui-and-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-top: 1vh;
    gap: 1vw;
}

.info {
    display: flex;
    flex-direction: column;
    /* padding: 0.5vw; */
    justify-content:space-evenly;
    align-items: center;
    align-self: flex-start;
    min-width: 10vw;
    min-height: 10vw;
    max-width: 13vw;
    max-height: 13vw;
    background-color: #E9E9ED;
    border-radius: 1vw;
    font-size: 1.5vw;
}

.sequence {
    margin: 10px auto;
    max-width: 60vw;
    font-size: 3vh;
    text-align: center;
}

.instrument-container {
    margin: 20px auto 40px auto;
}

.inner-instrument-container {
    display: flex;
}

.fretboard {
    margin: 20px auto 0px auto;
}

.fretNumContainer {
    min-width: 3.2vw;
    width: 3.6vw;
    font-size: 2vh;
    display: inline-block;
    text-align: center;
}

.fretNumbers {
    display: flex;
    justify-content: flex-end;
}

.note, .root-note {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: relative;
    top: 1.6vw;
    font-size: 1.2vw;


}

.note {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 1.2vw;
}

.root-note {

    width: 2.5vw;
    height: 2.5vw;
    border-radius: 1.25vw;
    border:solid 0.15vw;

}

.noteContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        min-width: 3.2vw;
        width: 3.6vw;
        height: 3.2vw;
        border-right: solid whitesmoke 2px;
        /* border-bottom: solid black 0.2vh; */
}

.string {
    display: flex;
    background-color: burlywood;
    border-bottom: solid 0.3vh;
}

.string-container {
    display: flex;
}

.open-string {
    position: relative;
    top: 1.6vw;
    border: none;
    font-size: 3vh;
    width: 3vw;
}

@media screen and (max-width: 650px) {
    header {
        display: none;
    }

    .fretboard {
        display: flex;
        flex-direction: row;
    }

    .fretNumbers {
        flex-direction: column;
    }

    .neck {
        display: flex;
        flex-direction: row-reverse;
    }
    .string-container {
        display: inline;
    }
    .string {
        flex-direction: column;
        border-left: solid;
        border-bottom: none;

    }

    .open-string {
        width: 10vw;
        height: 5vh;
        left: -5vw;
        top: 0;
        text-align: center;
    }
    .noteContainer {
        width: 10vw;
        height: 12vw;
        border: none;
        box-sizing: border-box;
        border-bottom: whitesmoke solid 2px;
    }

    .note {
        width: 6vw;
        height: 6vw;
        border-radius: 3vw;
        font-size: 3vw;
        left: -5vw;
        top: 0;
    }

    .root-note {
        width: 7vw;
        height: 7vw;
        border-radius: 3.5vw;
        font-size: 3vw;
        left: -5vw;
        top: 0;
    }

    .fretNumContainer {
        display: flex;
        align-items: flex;
        justify-content: center;
        align-items: center;
        height: 12vw;
        width: 15vw;
        box-sizing: border-box;
    }
    .ui-and-info {
        display: none;
    }
    .mobile-ui {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 100vw;
    }
    .dropdown {
        min-width: 50%;
        /* flex: 1; */
        box-sizing: border-box;
        height: 5vw;
        font-size: 3vw;
        text-align: center;
        background-color: #2A6041;
        color: whitesmoke;
        border: none;
        border-bottom: whitesmoke solid 1px;
        border-right: whitesmoke solid 1px;
    }
    .sequence {
        font-size: 5vh;
    }
}

[visibility="false"] {
    visibility: hidden;
}

main, [id$="note0"], [id="string0"], .open-string {
background-color: whitesmoke;
}

.select-instrument, .select-note, .select-sequence, .sequence-panel {
    display: flex;
    margin-bottom: 1vh;
    justify-content: center;
    gap: 0.5vw;
}

.select-instrument button {
    height: 3vw;
    width: 12vw;
    /* margin-right: 20px; */
    font-size: 1.3vw;
}

/* .select-note {
    text-align: center;
} */

.select-note button {
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1vw;
    /* margin-right: 15px; */
}

/* .select-sequence {
    text-align: center;
    margin: 10px 0;
} */

.select-sequence button {
    width: 10vw;
    height: 2vw;
    /* margin-right: 20px; */
    font-size: 1vw;
}

/* .sequence-panel {
    text-align: center;
} */

.sequence-panel button {
    /* margin-right: 5px; */
    font-size: 1vw;
    padding: 0.25vw;
}

button {
    color: black;
    border: none;
    border-radius: 0.5vw;
}

/* .sequence-name-buttons {
    padding: 3px;
} */

button:hover {
    background-color: #2A6041;
    border: none;
    color: whitesmoke;
}

.empty-block {
    min-height: 5vh;
    /* height: 10vh; */
}