* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex; 
    flex-direction: column;
    /* min-height: 100vh; */
}

header {
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    min-height: 7vh;
    text-align: center;
    background-color: #2A6041;
    color: whitesmoke;
}

main {
    min-height: 88vh;
}

footer {
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    min-height: 5vh;
    text-align: center;
    background-color: #2A6041;
    color: whitesmoke;
}

.fretboard-app {
    padding: 5px;
    min-height: 70vh;
}

.ui-and-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3px;
    justify-content:space-evenly;
    box-sizing: content-box;
    min-width: 125px;
    height: 125px;
    /* border: solid lightslategrey; */
    background-color: #E9E9ED;
    border-radius: 10px;
}

.sequence {
    margin-top: 15px;
    max-width: 600px;
    /* padding: 10px; */
    /* border-radius: 5px; */
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    text-align: center;
}

.inner-instrument-container {
    display: flex;
}

.fretboard {
    margin: 20px auto 0px auto;
}

.fretNumContainer {
    min-width: 52px;
    display: inline-block;
    text-align: center;
}

.fretNumbers {
    display: flex;
    justify-content: flex-end;
}

.note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    color: whitesmoke;
    position: relative;
    top: 20px;
}

.noteContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        min-height: 40px;
        border-right: solid whitesmoke 2px;
        border-bottom: solid black;
}

.string {
    display: flex;
    background-color: burlywood;
}

.open-string {
    position: relative;
    top: 15px;
    border: none;
    font-size: 25px;
    width: 75px;
}

.neck {
    /* background-color: burlywood; */
}

@media screen and (max-width: 650px) {
    .fretboard {
        display: flex;
        flex-direction: row;
        border: solid lightgrey;
        margin: 0 auto;
    }
    .fretNumbers {
        flex-direction: column;
        align-items: flex-end;
    }
    .neck {
        display: flex;
        flex-direction: row-reverse;
    }
    .string {
        flex-direction: column;
        background-color: burlywood;
        border-left: solid;

    }

    .open-string {
        /* min-width: 40px; */
        width: 40px;
        height: 40px;
        /* margin-bottom: 30px; */
        left: -15px;
        top: 0;
        border: solid whitesmoke
    }
    .noteContainer {
        min-width: 40px;
        min-height: 50px;
        border: none;
        box-sizing: border-box;
        border-bottom: whitesmoke solid 2px;
    }

    .note {
        left: -20px;
        top: 0;
    }

    .fretNumContainer {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        height: 50px;
        border: none;
        /* justify-content: center; */
        /* border: solid 1px; */
    }
}


/* .fretboard {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
} */

/* .string {
    border-bottom: solid black 3px;
    z-index: 1;
} */

/* .note {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A6041;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: auto;
    color: whitesmoke;
} */


/* .noteContainer {
    min-width: 50px;
    border-right: solid whitesmoke 2px;
    border-bottom: solid black;
    z-index: 0;
} */



[visibility="false"] {
    visibility: hidden;
}

main, [id$="note0"], [id="string0"], .open-string {
background-color: whitesmoke;
}

/* [id="string0"] {
    background-color: whitesmoke;
} */

/* .fretNumbers {
    background-color: whitesmoke;
    text-align: center;
    border: solid black;
} */

.select-instrument {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.select-instrument button {
    height: 40px;
    width: 120px;
    margin-right: 20px;
}

.select-note {
    text-align: center;
}

.select-note button {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.select-sequence {
    text-align: center;
    margin: 10px 0;
}

.select-sequence button {
    width: 120px;
    height: 25px;
    margin-right: 20px;
}

.sequence-panel {
    text-align: center;
}

.sequence-panel button {
    margin-right: 5px;
}

button {
    /* background-color: darkgray; */
    color: black;
    border: none;
    border-radius: 5px;
}

.sequence-name-buttons {
    padding: 3px;
}

button:hover {
    background-color: #2A6041;
    border: none;
    color: whitesmoke;
}





/* .some-selector {
    background-color: ;
} */